[data-anime]{
    opacity: 0;
    transition: 0.5s
}

[data-load]{
    opacity: 0;
    transition: 2s
}

[data-anime="bottom"]{
    transform: translate3d(0,100px,0);
}

[data-anime="right"]{
    transform: translate3d(-500,0,0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0,0,0);
}

[data-load].animated{
    opacity: 1;
}

@keyframes slide{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}